
{% extends "base.html" %}

{% block content %}
	<form method="post" action="{{ url_for('save') }}" enctype='multipart/form-data'>
		<fieldset>
			<legend class="hidden-first">Add New Recipes_Ingredient</legend>
			<input name="cat" type="hidden" value='recipes_ingredient'>
			<input name="modifier" type="hidden" value='rec_id'>
			<input name="id" type="hidden" value="{{data[0]}}">
			<input name="act" type="hidden" value="{{act}}">
		
			<label>Amount</label>
			<input 
				class="form-control" 
				type="text" 
				name="amount"
				value="{{data[2]}}" /><br><br>
			<input type="submit" value=" Save " class="btn btn-success">
		</fieldset>
	</form>
{% endblock %}