
{% extends "base.html" %}

{% block content %}
	<form method="post" action="{{ url_for('save') }}" enctype='multipart/form-data'>
		<fieldset>
			<legend class="hidden-first">Add New Comments</legend>
			<input name="cat" type="hidden" value='comments'>
			<input name="modifier" type="hidden" value='user_id'>
			<input name="id" type="hidden" value="{{data[0]}}">
			<input name="act" type="hidden" value="{{act}}">
		
			<label>Comm Date</label>
			<input 
				class="form-control" 
				type="text" 
				name="comm_date"
				value="{{data[2]}}" /><br>
			<label>Comm Content</label>
			<input 
				class="form-control" 
				type="text" 
				name="comm_content"
				value="{{data[3]}}" /><br><br>
			<input type="submit" value=" Save " class="btn btn-success">
		</fieldset>
	</form>
{% endblock %}