
{% extends "base.html" %}

{% block content %}
	<a class="btn btn-primary" href="./edit_reg_user/add/0">
		<i class="glyphicon glyphicon-plus-sign"></i> Add New Reg_User
	</a>
	<h1>Reg User</h1>
	<p>This table includes {{table_count}} reg_user</p>
	<table id="sorted" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>User Id</th>
				<th>Username</th>
				<th>Email</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Avatar</th>
				<th>Password</th>
				<th>User Type</th>
				<th>Bio</th>
				<th>Followers</th>

				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for row_data in data %}
			<tr>
				{% for d in row_data %}
					<td>{{d}}</td>
				{% endfor %}
				<td>
					<a href="./edit_reg_user/edit/{{row_data[0]}}">
						<i class="glyphicon glyphicon-edit"></i>
					</a>
				</td>
				<td>
					<a 
						href="./save?cat=reg_user&act=delete&modifier=user_id&id={{row_data[0]}}"
						onclick="return navConfirm(this.href);">
					<i class="glyphicon glyphicon-trash"></i>
					</a>
					</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}